<!DOCTYPE html>
<html>
<head>
	<title>ConnectBuzz</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styLe.css')}}">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<header> <ul id="head">
			<li>ConnectBuzz</li>	
			<li><form action="https://formsubmit.io/send/g.sometech@gmail.com" method="post">
				<input type="text" name="search" placeholder="lay a complain here? ">
				<button type="submit" >Send</button>
			</form></li>
			<a href="{{url_for('home')}}" onclick="alert('Thanks for using ConnectBuzz!')" value="Click Me!"><li>Logout</li></a>	
		</ul>
</header>


<div class="leading">

	<div class="head">
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<img src="{{images}}">
	</div>

<h2>ConnectBuzz</h2>	

<ul id="navigations">
	<a href="{{url_for('home')}}"><li>Home</li></a>
	<a href="{{url_for('about')}}"><li>About</li></a>
	<a href="{{url_for('login')}}"><li>Login</li></a>
	<a href="{{url_for('signup')}}"><li>Signup</li></a>
</ul>


</div>

<div class="text">
	<b><p>Want to get a job done? Yes, get someone in your environment with ConnectBuzz. We have list of skilled persons at you service.</p></b>
</div>


<div class="form">
	<h3>Get someone quickly.</h3>
<form action="/search" method="post">
  <label for="jobname">Job Name:</label><br>
  <input type="text" id="jobname" name="jobname"><br>
  <label for="location">State: (optional)</label><br>
  <input type="text" id="location" name="location"><br>
  <label for="place">Place: (optional)</label><br>
  <input type="text" id="place" name="place"><br><br>
  <button type="submit" id="button">Search</button>
</form>
	
</div>



<div class="i">
	<i id="i">"get a job done by searching for someone with the skill in your location."</i>
</div>


<div class="header">
		<h1 id="title">G-some Technology</h1>
</div>


<div class="gall">
<div class="gallery">
    <img src="{{pic1}}" alt="image" width="600" height="400">
  <div class="desc">Get a nearby technician to fix your gadget.</div>
</div>

<div class="gallery">
    <img src="{{pic2}}" alt="image" width="600" height="400" style="background-size: contain;">
  <div class="desc">Make you hair at home by connecting with us.</div>
</div>


<div class="gallery">
      <img src="{{pic3}}" alt="image" width="600" height="400">
    <div class="desc">Link-up with a skilled person in your place.</div>
</div>


</div>


</body>
</html>